services:
  oe-python-template-example:
    build: .
    env_file:
      - path: .env
        required: true
    develop:
      watch:
        - path: src
          action: rebuild
    restart: no
    tty: true
    stdin_open: true
