[project]
name = "clippy-ai"
version = "0.1.5"
description = "Clippy AI is a set of command line tools that makes my life easier. YMMV"
authors = [
    {name = "John Carpenter",email = "john@2linessoftware.com"}
]
readme = "README.md"
requires-python = ">=3.10,<4.0"
dependencies = [
    "click (>=8.1.8,<9.0.0)",
    "langchain (>=0.3.18,<0.4.0)",
    "langchain-openai (>=0.3.4,<0.4.0)",
    "jinja2 (>=3.1.5,<4.0.0)",
    "langchain-community (>=0.3.17,<0.4.0)"
]   
packages = [{include = "clippy_ai"}]

[build-system]
requires = ["poetry-core>=2.0.0,<3.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
clippy = "clippy_ai.clippy:clippy"

[tool.poetry.group.dev.dependencies]
setuptools = "^75.8.0"
pytest = "^8.3.4"

