[project]
name = wasm_test_widget
version = 0.1.0
author = Will Usher
author_email = will@willusher.io
description = Example

[build-system]
requires =
    hatchling>="1.21.1"
    jupyterlab>="4.0.0,<5"
build-backend = hatchling.build

[options]
include_package_data = True
packages = wasm_test_widget

# TODO install requirements
[options.package_data]
* = wasm_test_widget/labextension/*, wasm_test_widget/nbextension/*

[options.packages.find]
include = wasm_test_widget

[tool.hatch.build]
artifacts =
    wasm_test_widget/nbextension/*
    wasm_test_widget/labextension

[tool.hatch.build.targets.wheel.shared-data]
wasm_test_widget/nbextension = "share/jupyter/nbextensions/wasm_test_widget"
wasm_test_widget/labextension = "share/jupyter/labextensions/wasm_test_widget"
./install.json = "share/jupyter/labextensions/wasm_test_widget/install.json"
./wasm_test_widget.json = "etc/jupyter/nbconfig/notebook.d/wasm_test_widget.json"
