name: Build

on:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 1
  UV_LOCKED: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-13 is an intel runner, macos-14 is apple silicon
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-13, macos-14]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.23.0

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build sdist
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Build sdist
      run: pipx run build --sdist

    - uses: actions/upload-artifact@v4
      with:
        name: cibw-sdist
        path: dist/*.tar.gz
  
  publish:
    needs: [build_wheels, build_sdist]
    environment: pypi
    permissions:
      id-token: write # https://docs.pypi.org/trusted-publishers/using-a-publisher/#github-actions
      contents: write # Required for creating a release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      with:
        fetch-depth: 0 # Required for changelog

    - uses: actions/download-artifact@v4
      with:
        pattern: cibw-*
        path: dist
        merge-multiple: true
    
    - name: Upload to PyPI
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        skip-existing: true

    - name: Generate changelog with git-cliff
      uses: tj-actions/git-cliff@v1
      with:
        args: --latest --strip all
        output: "CHANGELOG.md"

    - name: Create Github release
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        bodyFile: "CHANGELOG.md"
        draft: false
        prerelease: false
