[project]
name = "snappychain"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "bm25s-j>=0.1.1",
    "chromadb>=0.6.3",
    "langchain>=0.3.19",
    "langchain-anthropic>=0.3.7",
    "langchain-cohere>=0.4.2",
    "langchain-community>=0.3.18",
    "langchain-gemini>=0.1.1",
    "langchain-ollama>=0.2.3",
    "langchain-openai>=0.3.6",
    "markitdown>=0.0.1a4",
    "onelogger>=0.1.2",
    "py2neo>=2021.2.4",
    "pypdf>=5.3.0",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
python_files = ["test_*.py"]
addopts = [
    "--import-mode=importlib",
    "--cov=src/snappychain",
    "--cov-report=term-missing",
]
